[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
deep-translator = "*"
pyautogui = "*"
xmltodict = "*"
opencv-python-headless = "*"
pillow = "*"
chardet = "*"
pytesseract = "*"
zhon = "*"
langid = "*"
jieba = "*"

[dev-packages]

[requires]
python_version = "3.10"
